<!DOCTYPE html>

<html lang="">
    <head>
        {% block head %}{% include '../partial/head.html' %}{% endblock %}
    </head>
    <body class="hold-transition sidebar-mini layout-fixed">
        <div class="wrapper">
            <!-- Main Header -->
            {% block header %}{% include '../partial/header.html' %}{% endblock %}
            <!-- Left side column. contains the logo and sidebar -->
            {% block sidebar %}{% include '../partial/sidebar.html' %}{% endblock %}
            <!-- Content Wrapper. Contains page content -->

            <!-- Content Wrapper. Contains page content -->
            <section class="content-wrapper">
                <!-- Content Header (Page header) -->
                <div class="content-header">
                    {% block content-header %}
                    {% endblock %}
                </div>

                <!-- Main content -->
                <div class="content" style="background-image: url(/static/landingPage/img/shape/header-sape4.png); background-position: right center; background-size: auto;background-repeat: no-repeat;">
                    {% block content %}
                    {% endblock %}
                </div>
                <!-- /.content -->
            </section>
            <!-- /.content-wrapper -->

            <footer class="main-footer ">
                <strong>Copyright &copy; 2022 <a href="#">Career4U</a>.</strong>
                All rights reserved.
                <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 1.0.0
                </div>
            </footer>

            <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
                <!-- Control sidebar content goes here -->
            </aside>
            <!-- /.control-sidebar -->
        </div>

        {% block javascript %}{% include '../partial/javascript.html' %}{% endblock %}
    </body>
</html>