.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    margin: 30px auto;
    width: 940px;
    height: 190px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 2px #FF3494, -1px -1px 5px 2px #FF3494;
    cursor: pointer;
    transition: 0.4s;
}
 
@media all and (max-width: 500px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
}
h1{
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-top: 30px;
    color:#FF3494;
}
h2{
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: purple;

}
p{
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    font-size: 18px;
}
/*
  .card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    transition: 0.4s;
  }
*/

.card2{
    margin: 30px auto;
    width: 940px;
    height: 210px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 2px #FF3494, -1px -1px 5px 2px #FF3494;
    cursor: pointer;
    transition: 0.4s;
}
.card2 p{
    font-size: 18px;
    margin-right: 10px;
}
.card3{
    margin: 30px auto;
    width: 940px;
    height: 210px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 2px #FF3494, -1px -1px 5px 2px #FF3494;
    cursor: pointer;
    transition: 0.4s;
}
.card4{
    margin: 30px auto;
    width: 940px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 2px #FF3494, -1px -1px 5px 2px #FF3494;
    cursor: pointer;
    transition: 0.4s;
}
.swayam{
    width:200px;
    height: 100px;
    margin-left: 200px;
    margin-top: 50px;
    margin-bottom: px;
}
.diksha{
    float: right;
    width:170px;
    height: 100px;
    margin-right: 200px;
    margin-top: -200px;
}