{% extends "user/layouts/app.html" %}

{% block content-header %}
<div class="container-fluid">
  <div class="row mb-2">
    <div class="col-sm-4">
      <h1 class="m-0 text-dark">Dashboard</h1>
    </div><!-- /.col -->

    <!-- <div class="col-sm-2">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div>/.col -->
  </div><!-- /.row -->
</div><!-- /.container-fluid -->
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">

   
    <!-- /.col -->
    <div class="col-md-4 col-sm-6 col-12">
      <div class="info-box shadow">
        <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Profile Progress</span>
          <span class="info-box-number">Regular</span>
        </div>

      </div>

    </div>

    <!-- /.col -->
    <div class="col-md-4 col-sm-6 col-12">
      <div class="info-box shadow">
        <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Assesment Progress</span>
          <span class="info-box-number">Regular</span>
        </div>

      </div>

    </div>
    
    <!-- /.col -->
    <div class="col-md-4 col-sm-6 col-12">
      <div class="info-box shadow">
        <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Assesment Report</span>
          <span class="info-box-number">Regular</span>
        </div>

      </div>

    </div>

  </div>

</div>
{% endblock %}