.inrtr{margin-bottom: 3cm;}

.food_main_div{margin-left: 3cm;margin-right: 3cm;margin-top: 2cm;margin-bottom: 2cm;}

.food_title{margin-top: 2cm;}

.food_logo{width: 7cm;height: 8cm;}

.food_main_para{width: 25cm;margin-bottom: 2cm;}

.career_opt{margin-left: 3cm;margin-bottom: 2cm;}

.career_opt_title{margin-left: -2cm;margin-bottom: 2cm;}

.one{height: 7cm;width: 7cm; background-color: rgb(255, 255, 255); font-size: 0.6cm;font-family: sans-serif;font-weight: 0;border-radius: 0.3cm;margin-right: 2cm;margin-top: 1.5cm;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);align-content: left;margin-left: 5cm;}

.two{height: 7cm;width: 7cm; background-color: rgb(255, 255, 255); font-size: 0.6cm;font-family: sans-serif;font-weight: 0;border-radius: 0.3cm;margin-right: cm;margin-top: 1.5cm;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);align-content: left;margin-left: 13cm;margin-top: -7cm;}

.three{height: 7cm;width: 7cm; background-color: rgb(255, 255, 255); font-size: 0.6cm;font-family: sans-serif;font-weight: 0;border-radius: 0.3cm;margin-right: cm;margin-top: 1.5cm;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);align-content: left;margin-left: 21cm;margin-top: -7cm;}

.agriculture_logo{width: 5cm;height: 4cm;margin-left: cm;margin-top: 1cm;}
.agriculture_text{width: 5cm;}

.biological_text{width: 3cm;}

.fisheries_text{margin-top: 0.5cm;}

.food_tech_text{width: 4cm;}

.floriculture_text{width: 5cm;margin-top: 0.2cm;}

.requirements{margin-left: 3cm;margin-right: 3cm;margin-top: 3cm;}

.mail_logo{width: 3cm;height: 2cm;align-content: left;}
.food_requirement{margin-left: 4cm;margin-top: -1.3cm;margin-bottom: 2cm;}

.how_to_01{margin-bottom: 1.5cm;}

.how_to_focus{width: 25cm;}

.wright_wrong{width: 2.8cm; height: 1.5cm;margin-top: 2cm;align-content: left;}

.colleges{margin-left: 3cm;margin-top: -1.2cm;margin-bottom: 1cm;}

.list{margin-left: 3cm;line-height: 1cm;font-size: 0.46cm;margin-bottom: 2cm;}