<!doctype html>
{% load static %}
<html class="no-js" lang="zxx">
<!-- <html> -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Career4U || Career Wiki </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" href="{% static 'images/images/logo/favicon.jpg' %}" type="image/x-icon">

    <!-- CSS here -->
    <link rel="shortcut icon" href="{% static 'images/images/logo/favicon.jpg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'landingPage/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'landingPage/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'landingPage/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'landingPage/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'landingPage/css/dripicons.css' %}">
    <link rel="stylesheet" href="{% static 'landingPage/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'landingPage/css/default.css' %}">
    <link rel="stylesheet" href="{% static 'landingPage/css/swiper.css' %}">
    <link rel="stylesheet" href="{% static 'landingPage/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'landingPage/css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'landingPage/css/Career_Wiki/career_library.css' %}">
    <style>
        .mainContainer {
            display: flex;
            justify-content: center;
            flex-direction: column;
            flex-wrap: wrap;
        }
    </style>
</head>

<body>
    <!-- header -->
    <header class="header-area" style="background: #190a32;">
        <div id="header-sticky" class="menu-area">
            <div class="container">
                <div class="second-menu">
                    <div class="row align-items-center">
                        <div class="col-xl-1 col-lg-2">
                            <div class="logo">
                                <a href="{% url 'index' %}"><img class="rounded-circle"
                                        src="{% static 'images/Images/Logo/logo.jpeg' %}" alt="logo"
                                        style="width:70px;padding-top:10px;padding-bottom:10px;"></a>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-9">
                            <div class="responsive"><i class="icon dripicons-align-right"></i></div>
                            <div class="main-menu text-right text-xl-right">
                                <nav id="mobile-menu">
                                    <ul>
                                        <li class="has-sub">
                                            <a href="{% url 'index' %}">Home</a>
                                        </li>
                                        <li><a href="{% url 'about' %}">About Us</a></li>
                                        <li><a href="{% url 'multipleIntelligence' %}">Multiple Intelligence</a></li>
                                        <li><a href="{% url 'careerWiki' %}"  style="color: #ff3494;">Career Wiki</a></li>
                                        <!-- <li class="has-sub"> 
                                                 <a href="#screen">Other</a>
                                                 <ul>													
													<li><a href="#pricing">Pricing</a></li>
													<li><a href="#testimonios">Testimonios</a></li>
													 <li><a href="blog.html">Blog</a></li>     
													<li><a href="blog-details.html">Blog Deatils</a></li> 
												</ul>
                                             
                                            </li>      -->
                                        <!-- <li><a href="#blog">Blog</a></li> -->
                                        <li><a href="#">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-2 text-right d-none d-xl-block">
                            <div class="header-btn second-header-btn">
                                <a href="{% url 'login' %}" class="btn">Login</a>
                            </div>
                        </div>
                        <div class="col-xl-1 text-right d-none d-xl-block">
                            <div class="header-btn second-header-btn">
                                <a href="{% url 'signup' %}" class="btn">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- header-end -->
    <!-- main-area -->
    <main>
        <!-- breadcrumb-area -->
        <section class="breadcrumb-area d-flex align-items-center"
            style="background-image:url({% static 'landingPage/img/bg/career4u.png' %}); background-position: center center; background-size: cover;">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
                        <div class="breadcrumb-wrap text-center">
                            <div class="breadcrumb-title mt-70">
                                <h2 class="text-dark mt-70"></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb-area-end -->

        <div class="career_library">
            <center>
                <!-- <img src="{% static 'images/career library images/career4u.png' %}" class="library_logo"> -->
                <h1 class="career4u">CAREER4U WIKI</h1>

                <h4 class="what_career">WHAT CAREER YOU ARE LOOKING FOR ?</h4>
            </center>

            <!--1st row-->
            <!--Allied Medical Science-->
            <div class="mainContainer">
                <div class="one">
                    <img src="{% static 'images/career library images/AlliedMedicalSciences (2' %}).svg"
                        class="allied_medical_sci_logo">
                    <a href="{% url 'alliedMedicalScience' %}" target="">
                        <center>
                            <h5 class="allied_medical_sci_text">Allied Medical Science</h5>
                        </center>
                    </a>
                </div>

                <!--Engineering-->
                <div class="two">
                    <img src="{% static 'images/career library images/Engineering.svg' %}"
                        class="allied_medical_sci_logo">
                    <a href="{% url 'enggPage' %}">
                        <center>
                            <h5 class="allied_medical_sci_text">Engineering</h5>
                        </center>
                    </a>
                </div>

                <!--Food & Agriculture-->
                <div class="three">
                    <img src="{% static 'images/career library images/Food_Agricukture.svg' %}"
                        class="allied_medical_sci_logo">
                    <a href="{% url 'foodAndAgri' %}">
                        <center>
                            <h5 class="allied_medical_sci_text">Food & Agriculture</h5>
                        </center>
                    </a>
                </div>

                <!--Computer Application & IT-->
                <div class="four">
                    <img src="{% static 'images/career library images/ComputerApplication.svg' %}"
                        class="allied_medical_sci_logo">
                    <a href="{% url 'CSCandIT' %}">
                        <center>
                            <h5 class="allied_medical_sci_text">Computer Application & IT</h5>
                        </center>
                    </a>
                </div>



                <!--2nd row-->
                <!--Social Science and Humanities-->
                <div class="one">
                    <img src="{% static 'images/career library images/SocialSciences.svg' %}" class="social_sci_logo">
                    <a href="{% url 'socialSciencePage' %}">
                        <center>
                            <h5 class="allied_medical_sc_text">Social Science and Humanities</h5>
                        </center>
                    </a>
                </div>

                <!--Maths & Statistics-->
                <div class="two">
                    <img src="{% static 'images/career library images/Maths_Stats.svg' %}" class="maths_logo">
                    <a href="{% url 'mathAndScience' %}">
                        <center>
                            <h5 class="maths_text">Maths & Statistics</h5>
                        </center>
                    </a>
                </div>

                <!--Performing art-->
                <div class="three">
                    <img src="{% static 'images/career library images/PerformingArts.svg' %}" class="art_logo">
                    <a href="{% url 'performingArt' %}">
                        <center>
                            <h5 class="art_text">Performing Art</h5>
                        </center>
                    </a>
                </div>

                <!--Education and Training-->
                <div class="four">
                    <img src="{% static 'images/career library images/Education_Training (2' %}).svg"
                        class="education_logo">
                    <a href="{% url 'educationTrainingPage' %}">
                        <center>
                            <h5 class="education_text">Education and Training</h5>
                        </center>
                    </a>
                </div>


                <!--3rd row-->
                <!--Social Services-->
                <div class="one">
                    <img src="{% static 'images/career library images/SocialServices.svg' %}" class="social_logo">
                    <a href="{% url 'socialServicesPage' %}">
                        <center>
                            <h5 class="social_text">Social Services</h5>
                        </center>
                    </a>
                </div>

                <!--Legal Services-->
                <div class="two">
                    <img src="{% static 'images/career library images/LegalServices.svg' %}" class="social_logo">
                    <a href="{% url 'legalServicesPage' %}">
                        <center>
                            <h5 class="social_text">Legal Services</h5>
                        </center>
                    </a>
                </div>

                <!--Media & Communication-->
                <div class="three">
                    <img src="{% static 'images/career library images/Media_Communication (2' %}).svg"
                        class="social_logo">
                    <a href="{% url 'mediaAndCommuncation' %}">
                        <center>
                            <h5 class="social_text">Media & Communication</h5>
                        </center>
                    </a>
                </div>

                <!--Animation-->
                <div class="four">
                    <img src="{% static 'images/career library images/Animation.svg' %}" class="animation_logo">
                    <a href="{% url 'animationPage' %}">
                        <center>
                            <h5 class="animation_text">Animation</h5>
                        </center>
                    </a>
                </div>


                <!--4rd row-->
                <!--Design-->
                <div class="one">
                    <img src="{% static 'images/career library images/Design.svg' %}" class="social_logo">
                    <a href="{% url 'designPage' %}">
                        <center>
                            <h5 class="social_text">Design</h5>
                        </center>
                    </a>
                </div>

                <!--Finance & Banking-->
                <div class="two">
                    <img src="{% static 'images/career library images/Finance_Banking.svg' %}" class="social_logo">
                    <a href="{% url 'financeAndBanking' %}">
                        <center>
                            <h5 class="social_text">Finance & Banking</h5>
                        </center>
                    </a>
                </div>

                <!--Business Management-->
                <div class="three">
                    <img src="{% static 'images/career library images/BusinessManagement.svg' %}" class="social_logo">
                    <a href="{% url 'businessManagment' %}">
                        <center>
                            <h5 class="social_text">Business Management</h5>
                        </center>
                    </a>
                </div>

                <!--Commerce & Accounts-->
                <div class="four">
                    <img src="{% static 'images/career library images/Commerce_Accounts.svg' %}" class="animation_logo">
                    <a href="{% url 'commerceAndAccount' %}">
                        <center>
                            <h5 class="animation_text">Commerce & Accounts</h5>
                        </center>
                    </a>
                </div>


                <!--5th row-->
                <!--Architecture-->
                <div class="one">
                    <img src="{% static 'images/career library images/Architecture (2' %}).svg" class="social_logo">
                    <a href="{% url 'architecturePage' %}">
                        <center>
                            <h5 class="social_text">Architecture</h5>
                        </center>
                    </a>
                </div>

                <!--Legal Services-->
                <div class="two">
                    <img src="{% static 'images/career library images/LegalServices.svg' %}" class="social_logo">
                    <a href="{%  url 'socialScience' %}">
                        <center>
                            <h5 class="social_text">Social Science</h5>
                        </center>
                    </a>
                </div>

                <!--Medical-->
                <div class="three">
                    <img src="{% static 'images/career library images/Nutrition_wellbeing.svg' %}" class="social_logo">
                    <a href="{% url 'medical' %}">
                        <center>
                            <h5 class="social_text">Medical</h5>
                        </center>
                    </a>
                </div>

                <!--Hospatility & Tourism-->
                <div class="four">
                    <img src="{% static 'images/career library images/Tourism.png' %}" class="tourism_logo">
                    <a href="{% url 'hospatilityAndTourism' %}">
                        <center>
                            <h5 class="tourism_text">Hospatility & Tourism</h5>
                        </center>
                    </a>
                </div>
            </div>
        </div>




    </main>

    </div>

    </main>
    <!-- main-area-end -->
    <!-- footer -->
    <footer class="footer-bg footer-p pt-60" style="background-image: url({% static 'landingPage/img/bg/f-bg.png' %});
        background-position: center top;
        background-size: auto;
        background-repeat: no-repeat;">

        <div class="footer-top">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-sm-6">
                        <div class="footer-widget mb-30">
                            <div class="logo mt-15 mb-15">
                                <a href="#"><img class="rounded-circle"
                                        src="{% static 'images/Images/Logo/logo.jpeg' %}" alt="logo"
                                        style="width: 100px;"></a>
                            </div>
                            <div class="footer-text mb-20">
                                <p>Personalise your career journey <br />
                                    with Career4U </p>
                            </div>
                            <div class="footer-social">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-google-plus-g"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-sm-6">
                        <div class="footer-widget mb-30">
                            <div class="f-widget-title">
                                <h5>Company News</h5>
                            </div>
                            <div class="footer-link">
                                <ul>
                                    <li><a href="#">Partners</a></li>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Career</a></li>
                                    <li><a href="#">Reviews</a></li>
                                    <li><a href="#">Terms & Conditions</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-sm-6">
                        <div class="footer-widget mb-30">
                            <div class="f-widget-title">
                                <h5>Useful Links</h5>
                            </div>
                            <div class="footer-link">
                                <ul>
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Services</a></li>
                                    <li><a href="#">Project</a></li>
                                    <li><a href="#">Our Team</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-sm-6">
                        <div class="footer-widget mb-30">
                            <div class="f-widget-title">
                                <h5>Contact Us</h5>
                            </div>
                            <div class="footer-link">
                                <div class="f-contact">
                                    <ul>
                                        <li>
                                            <i class="icon dripicons-phone"></i>
                                            <span>1800-121-3637<br>+91 555 234-8765</span>
                                        </li>
                                        <li>
                                            <i class="icon dripicons-mail"></i>
                                            <span><a href="mailto:info@example.com">info@example.com</a><br><a
                                                    href="mailto:sale@example.com">sale@example.com</a></span>
                                        </li>
                                        <li>
                                            <i class="fal fa-map-marker-alt"></i>
                                            <span>380 St Kilda Road, Melbourne<br>VIC 3004, Australia</span>
                                        </li>
                                    </ul>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-wrap text-center">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="copyright-text">
                            <p>&copy; 2020 @ Bengle All design Zcube.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer-end -->


    <!-- JS here -->
    <script src="{% static 'landingPage/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'landingPage/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'landingPage/js/popper.min.js' %}"></script>
    <script src="{% static 'landingPage/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'landingPage/js/one-page-nav-min.js' %}"></script>
    <script src="{% static 'landingPage/js/slick.min.js' %}"></script>
    <script src="{% static 'landingPage/js/ajax-form.js' %}"></script>
    <script src="{% static 'landingPage/js/paroller.js' %}"></script>
    <script src="{% static 'landingPage/js/wow.min.js' %}"></script>
    <script src="{% static 'landingPage/js/js_isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'landingPage/js/imagesloaded.min.js' %}"></script>
    <script src="{% static 'landingPage/js/parallax.min.js' %}"></script>
    <script src="{% static 'landingPage/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'landingPage/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'landingPage/js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'landingPage/js/typed.js' %}"></script>
    <script src="{% static 'landingPage/js/parallax-scroll.js' %}"></script>
    <script src="{% static 'landingPage/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'landingPage/js/element-in-view.js' %}"></script>
    <script src="{% static 'landingPage/js/swiper.min.js' %}"></script>
    <script src="{% static 'landingPage/js/main.js' %}"></script>


</body>

</html>