<!doctype html>
<!-- {% load static %} -->
<!-- <html class="no-js" lang="zxx"> -->
<html>

<head>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Food and Agriculture - Biology Science</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    
    <link rel="shortcut icon" href="{% static 'images/images/logo/favicon.jpg' %}" type="image/x-icon">
    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'landingPage/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'landingPage/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'landingPage/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'landingPage/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'landingPage/css/dripicons.css' %}">
    <link rel="stylesheet" href="{% static 'landingPage/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'landingPage/css/default.css' %}">
    <link rel="stylesheet" href="{% static 'landingPage/css/swiper.css' %}">
    <link rel="stylesheet" href="{% static 'landingPage/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'landingPage/css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'landingPage/css/Career_Wiki/food_agri/agricultural.css' %}">

</head>

<body>
    <!-- header -->
    <header class="header-area" style="background: #190a32;">
        <div id="header-sticky" class="menu-area">
            <div class="container">
                <div class="second-menu">
                    <div class="row align-items-center">
                        <div class="col-xl-1 col-lg-2">
                            <div class="logo">
                                <a href="{% url 'index' %}"><img class="rounded-circle"
                                        src="{% static 'images/Images/Logo/logo.jpeg' %}" alt="logo"
                                        style="width:70px;padding-top:10px;padding-bottom:10px;"></a>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-9">
                            <div class="responsive"><i class="icon dripicons-align-right"></i></div>
                            <div class="main-menu text-right text-xl-right">
                                <nav id="mobile-menu">
                                    <ul>
                                        <li class="has-sub">
                                            <a href="{% url 'index' %}">Home</a>
                                        </li>
                                        <li><a href="{% url 'about' %}">About Us</a></li>
                                        <li><a href="{% url 'multipleIntelligence' %}">Multiple Intelligence</a></li>
                                        <li><a href="{% url 'careerWiki' %}" style="color: #ff3494;">Career Wiki</a></li>
                                        <!-- <li class="has-sub"> 
                                                 <a href="#screen">Other</a>
                                                 <ul>													
													<li><a href="#pricing">Pricing</a></li>
													<li><a href="#testimonios">Testimonios</a></li>
													 <li><a href="blog.html">Blog</a></li>     
													<li><a href="blog-details.html">Blog Deatils</a></li> 
												</ul>
                                             
                                            </li>      -->
                                        <!-- <li><a href="#blog">Blog</a></li> -->
                                        <li><a href="#">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-2 text-right d-none d-xl-block">
                            <div class="header-btn second-header-btn">
                                <a href="{% url 'login' %}" class="btn">Login</a>
                            </div>
                        </div>
                        <div class="col-xl-1 text-right d-none d-xl-block">
                            <div class="header-btn second-header-btn">
                                <a href="{% url 'signup' %}" class="btn">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- header-end -->
    <!-- main-area -->
    <main>   
        <span><img src="{% static 'images/Images/logo/swayam.png' %}"class="swayam"></span>
        <div class="heading"><h1 style="color: #FF3494;text-align:center;">
            Biological Science</h1></div>
            <span><img src="{% static 'images/Images/logo/diksha.jpeg' %}"class="diksha"></span>
            
        <div class="cards-list">
            <div class="card1">
                <h1>Introduction</h1>
                <p>
                    Biological Science studies life and living
                    organisms, their life cycles, adaptations and
                    environment. There are various fields of study
                    under the biological sciences including
                    biochemistry, microbiology and evolutionary
                    biology.
                </p>
            </div>
    
            <div class="card2">
                <h1>Eligibily</h1>
                <p class="card2_p">10+2 with Physics, Chemistry and Biology as
                    compulsory subjects.</p>
            </div>
            <div class="card3">
                <h1>Courses</h1>
                
                    <ul>
                        <li>Bachelor in Biological Science</li>
                        <li>Master in Biological Science</li>
                        <li>PhD in Biological Science</li>
                        
                        
                    </ul>
                
    
            </div>
            <div class="card4">
                <h1>Institutes/Universities</h1>
                    <ul>
                        <li>Indian Institute of Science Education and
                            Research (IISER), Pune, Maharashtra.</li>
                        <li>Indian Institute of Science Education and
                            Research (IISER), Kolkata, West Bengal.</li>
                        
                        
                        
                        
                    </ul>
            </div>
        </div>
        
    </main>
    <!-- main-area-end -->
    <!-- footer -->
    <footer class="footer-bg footer-p pt-60" style="background-image: url({% static 'landingPage/img/bg/f-bg.png' %});
    background-position: center top;
    background-size: auto;
    background-repeat: no-repeat;">

    <div class="footer-top">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-xl-3 col-lg-3 col-sm-6">
                    <div class="footer-widget mb-30">
                        <div class="logo mt-15 mb-15">
                            <a href="#"><img class="rounded-circle" src="{% static 'images/Images/Logo/logo.jpeg' %}"
                                    alt="logo" style="width: 100px;"></a>
                        </div>
                        <div class="footer-text mb-20">
                            <p>Personalise your career journey <br />
                                with Career4U </p>
                        </div>
                        <div class="footer-social">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-google-plus-g"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-sm-6">
                    <div class="footer-widget mb-30">
                        <div class="f-widget-title">
                            <h5>Company News</h5>
                        </div>
                        <div class="footer-link">
                            <ul>
                                <li><a href="#">Partners</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Career</a></li>
                                <li><a href="#">Reviews</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-sm-6">
                    <div class="footer-widget mb-30">
                        <div class="f-widget-title">
                            <h5>Useful Links</h5>
                        </div>
                        <div class="footer-link">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Project</a></li>
                                <li><a href="#">Our Team</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-sm-6">
                    <div class="footer-widget mb-30">
                        <div class="f-widget-title">
                            <h5>Contact Us</h5>
                        </div>
                        <div class="footer-link">
                            <div class="f-contact">
                                <ul>
                                    <li>
                                        <i class="icon dripicons-phone"></i>
                                        <span>1800-121-3637<br>+91 555 234-8765</span>
                                    </li>
                                    <li>
                                        <i class="icon dripicons-mail"></i>
                                        <span><a href="mailto:info@example.com">info@example.com</a><br><a
                                                href="mailto:sale@example.com">sale@example.com</a></span>
                                    </li>
                                    <li>
                                        <i class="fal fa-map-marker-alt"></i>
                                        <span>380 St Kilda Road, Melbourne<br>VIC 3004, Australia</span>
                                    </li>
                                </ul>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-wrap text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="copyright-text">
                        <p>&copy; 2020 @ Bengle All design Zcube.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
    <!-- footer-end -->


    <!-- JS here -->
    <script src="{% static 'landingPage/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'landingPage/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'landingPage/js/popper.min.js' %}"></script>
    <script src="{% static 'landingPage/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'landingPage/js/one-page-nav-min.js' %}"></script>
    <script src="{% static 'landingPage/js/slick.min.js' %}"></script>
    <script src="{% static 'landingPage/js/ajax-form.js' %}"></script>
    <script src="{% static 'landingPage/js/paroller.js' %}"></script>
    <script src="{% static 'landingPage/js/wow.min.js' %}"></script>
    <script src="{% static 'landingPage/js/js_isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'landingPage/js/imagesloaded.min.js' %}"></script>
    <script src="{% static 'landingPage/js/parallax.min.js' %}"></script>
    <script src="{% static 'landingPage/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'landingPage/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'landingPage/js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'landingPage/js/typed.js' %}"></script>
    <script src="{% static 'landingPage/js/parallax-scroll.js' %}"></script>
    <script src="{% static 'landingPage/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'landingPage/js/element-in-view.js' %}"></script>
    <script src="{% static 'landingPage/js/swiper.min.js' %}"></script>
    <script src="{% static 'landingPage/js/main.js' %}"></script>
</body>
</html>