<!doctype html>
<!-- {% load static %} -->
<!-- <html class="no-js" lang="zxx"> -->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Career4U -Personalise your career journey || </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shorBtcut icon" type="image/x-icon" href="landingPage/img/favicon.ico">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="landingPage/css/bootstrap.min.css">
    <link rel="stylesheet" href="landingPage/css/animate.min.css">
    <link rel="stylesheet" href="landingPage/css/magnific-popup.css">
    <link rel="stylesheet" href="landingPage/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="landingPage/css/dripicons.css">
    <link rel="stylesheet" href="landingPage/css/slick.css">
    <link rel="stylesheet" href="landingPage/css/default.css">
    <link rel="stylesheet" href="landingPage/css/swiper.css">
    <link rel="stylesheet" href="landingPage/css/style.css">
    <link rel="stylesheet" href="landingPage/css/responsive.css">
    <link rel="stylesheet" href="landingPage/css/anthropology.css">

</head>

<body>
    <!-- header -->
    <header class="header-area p-relative" style="background:#190a32">
        <div id="header-sticky" class="menu-area">
            <div class="container">
                <div class="second-menu">
                    <div class="row align-items-center">
                        <div class="col-xl-1 col-lg-2">
                            <div class="logo">
                                <a href="{% url 'index' %}"><img class="rounded-circle"
                                        src="images/Images/Logo/logo.jpeg" alt="logo"
                                        style="width:70px;padding-top:10px;padding-bottom:10px;"></a>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-9">
                            <div class="responsive"><i class="icon dripicons-align-right"></i></div>
                            <div class="main-menu text-right text-xl-right">
                                <nav id="mobile-menu">
                                    <ul>
                                        <li class="has-sub">
                                            <a href="{% url 'index' %}">Home</a>
                                        </li>
                                        <li><a href="{% url 'about' %}">About Us</a></li>
                                        <li><a href="#features">Features</a></li>
                                        <li><a href="#screen">Why We</a></li>
                                        <li><a href="#contact">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-2 text-right d-none d-xl-block">
                            <div class="header-btn second-header-btn">
                                <a href="{% url 'login' %}" class="btn">Login</a>
                            </div>
                        </div>
                        <div class="col-xl-1 text-right d-none d-xl-block">
                            <div class="header-btn second-header-btn">
                                <a href="{% url 'signup' %}" class="btn">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <!-- <img src="" alt=""> -->
        </div>
    </header>


    <!-- header-end -->
    <!-- main-area -->
    <main>   
        <span><img src="images/swayam.png"class="swayam"></span> 
        <div class="heading"><h1 style="color: #FF3494;text-align:center;">
            Anthropology</h1></div>
            <span><img src="images/diksha.jpeg"class="diksha"></span>
            
        <div class="cards-list">
            <div class="card1">
                <h1>Introduction</h1>
                <p>
                    Anthropology is the study of humans, past and
                    present in their cultural and biological
                    conditions. This combination sets anthropology
                    apart from other humanities and natural
                    sciences. In simple terms, anthropology deals
                    with determining what humans are, how they
                    evolved, and how they differ from one another.</p>
            </div>
    
            <div class="card2">
                <h1>Eligibily</h1>
                <p class="card2_p">10+2 with Physics, Chemistry, Biology and/ or
                    Mathematics as main subjects.</p>
            </div>
            <div class="card3">
                <h1>Courses</h1>
                
                    <ul>
                        <li>B. A. / B. Sc.</li>
                        <li>M. A. / M. Sc.</li>
                        <li>M. Phil.</li>
                        
                        
                    </ul>
                
    
            </div>
            <div class="card4">
                <h1>Institutes/Universities</h1>
                    <ul>
                        <li>AU - Andhra University Visakhapatnam </li>
                        <li>Panjab University, Chandigarh</li>
                        <li>Alagappa University, Karaikudi, Tamil Nadu</li>
                        <li>Dibrugarh University, Assam </li>
                        <li>Guwahati University, Guwahati</li>
                        
                        
                        
                    </ul>
            </div>
        </div>
        
    </main>
    <!-- main-area-end -->
    <!-- footer -->
    <footer class="footer-bg footer-p pt-60" style="background-image: url(landingPage/img/bg/f-bg.png);
        background-position: center top;
        background-size: auto;
        background-repeat: no-repeat;">

        <div class="footer-top">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-sm-6">
                        <div class="footer-widget mb-30">
                            <div class="logo mt-15 mb-15">
                                <a href="#"><img class="rounded-circle" src="images/Images/Logo/logo.jpeg"
                                        alt="logo" style="width: 100px;"></a>
                            </div>
                            <div class="footer-text mb-20">
                                <p>Personalise your career journey <br />
                                    with Career4U </p>
                            </div>
                            <div class="footer-social">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-google-plus-g"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-sm-6">
                        <div class="footer-widget mb-30">
                            <div class="f-widget-title">
                                <h5>Company News</h5>
                            </div>
                            <div class="footer-link">
                                <ul>
                                    <li><a href="#">Partners</a></li>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Career</a></li>
                                    <li><a href="#">Reviews</a></li>
                                    <li><a href="#">Terms & Conditions</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-sm-6">
                        <div class="footer-widget mb-30">
                            <div class="f-widget-title">
                                <h5>Useful Links</h5>
                            </div>
                            <div class="footer-link">
                                <ul>
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Services</a></li>
                                    <li><a href="#">Project</a></li>
                                    <li><a href="#">Our Team</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-sm-6">
                        <div class="footer-widget mb-30">
                            <div class="f-widget-title">
                                <h5>Contact Us</h5>
                            </div>
                            <div class="footer-link">
                                <div class="f-contact">
                                    <ul>
                                        <li>
                                            <i class="icon dripicons-phone"></i>
                                            <span>1800-121-3637<br>+91 555 234-8765</span>
                                        </li>
                                        <li>
                                            <i class="icon dripicons-mail"></i>
                                            <span><a href="mailto:info@example.com">info@example.com</a><br><a
                                                    href="mailto:sale@example.com">sale@example.com</a></span>
                                        </li>
                                        <li>
                                            <i class="fal fa-map-marker-alt"></i>
                                            <span>380 St Kilda Road, Melbourne<br>VIC 3004, Australia</span>
                                        </li>
                                    </ul>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-wrap text-center">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="copyright-text">
                            <p>&copy; 2020 @ Bengle All design Zcube.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer-end -->


    <!-- JS here -->
    <script src="landingPage/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="landingPage/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="landingPage/js/popper.min.js"></script>
    <script src="landingPage/js/bootstrap.min.js"></script>
    <script src="landingPage/js/one-page-nav-min.js"></script>
    <script src="landingPage/js/slick.min.js"></script>
    <script src="landingPage/js/ajax-form.js"></script>
    <script src="landingPage/js/paroller.js"></script>
    <script src="landingPage/js/wow.min.js"></script>
    <script src="landingPage/js/js_isotope.pkgd.min.js"></script>
    <script src="landingPage/js/imagesloaded.min.js"></script>
    <script src="landingPage/js/parallax.min.js"></script>
    <script src="landingPage/js/jquery.waypoints.min.js"></script>
    <script src="landingPage/js/jquery.counterup.min.js"></script>
    <script src="landingPage/js/jquery.scrollUp.min.js"></script>
    <script src="landingPage/js/typed.js"></script>
    <script src="landingPage/js/parallax-scroll.js"></script>
    <script src="landingPage/js/jquery.magnific-popup.min.js"></script>
    <script src="landingPage/js/element-in-view.js"></script>
    <script src="landingPage/js/swiper.min.js"></script>
    <script src="landingPage/js/main.js"></script>
</body>
</html>