<!DOCTYPE html>
{% load static %}
<html style="font-size: 16px;" lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords"
    content="INSPIRE AND EMPOWER EVERYINDIVIDUAL TO ACHIEVE THEIRCAREER &amp;amp; LIFE GOALS, About Career4U​, Our Approach to Career Development​, Personalized and holistic career guidance, Perfect combination of technology and human intelligenceLearn more about how Career4U eliminates the influence of human biases in the career development process by combining the power of machine learning and AI with the competence of highly skilled and well trained individuals., Resources, Institutional level career guidance, A team that is defined by&nbsp;innovation and passion">
  <meta name="description" content="">
  <title>About Us</title>
  <link rel="stylesheet" href="{% static '\css\about1.css' %}" media="screen">
  <link rel="stylesheet" href="{% static '\css\about2.css'%}" media="screen">
  <link rel="stylesheet" href="{% static '\css\common.css' %}">
  <!-- <script class="u-script" type="text/javascript" src="jquery-1.9.1.min.js" defer=""></script> -->
  <!-- <script class="u-script" type="text/javascript" src="nicepage.js" "="" defer=""></script> -->
  <meta name=" generator" content="Nicepage 4.16.0, nicepage.com">
  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
  <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"url": "/"
}</script>
  <meta name="theme-color" content="#478ac9">
  <meta property="og:title" content="Home">
  <meta property="og:type" content="website">
  <link rel="canonical" href="/">
  <link rel="stylesheet" href="{% static  '\css\nav.css' %}">

  <style>
    nav {
      height: 90px;
    }
  </style>
</head>

<body data-home-page="https://website2626950.nicepage.io/Home.html?version=e678d770-f311-4086-9680-4b378906d759"
  data-home-page-title="Home" class="u-body u-xl-mode" data-lang="en">



  <nav>
    <ul>
      <a href="{% url 'index' %}">
        <li>
          <img src="{% static '/images/Images/Logo/logo.jpeg' %}" width="70" alt="" />
        </li>
      </a>
    </ul>
    <ul>
      <a href="{% url 'index' %}">
        <li>Home</li>
      </a>
      <a href="{% url 'about' %}">
        <li>About Us</li>
      </a>
      <a href="">
        <li>Why <b style="color: #9456c8"> Career4U </b> ?</li>
      </a>
      <a href="">
        <li>Career Wiki</li>
      </a>
    </ul>
    <ul>
      <div onclick="toggleNav()" class="hamburgerLogo">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <a class="loginButton" href="{% url 'login' %}">
        <li>
          <button class="primaryButton">Login</button>
        </li>
      </a>
      <a href="{% url 'signup' %}">
        <li>
          <button class="primaryButton">Get Started</button>
        </li>
      </a>
    </ul>
  </nav>
  <div class="hamburgerNavbar">
    <ul>
      <a href="">
        <li>Home</li>
      </a>
      <a href="">
        <li>About Us</li>
      </a>
      <a href="">
        <li>Why <b style="color: #9456c8"> Career4U </b> ?</li>
      </a>
      <a href="">
        <li>Career Wiki</li>
      </a>
      <a class="loginButton" href="{% url 'login' %}">
        <li>
          <button class="primaryButton">Login</button>
        </li>
      </a>
      <a href="{% url 'signup' %}">
        <li>
          <button class="primaryButton">Get Started</button>
        </li>
      </a>
    </ul>
  </div>



  <header class="u-clearfix u-header u-header" id="sec-2fab">
    <div class="u-align-left u-clearfix u-sheet u-sheet-1"></div>
  </header>
  <section class="u-align-center u-clearfix u-section-1" id="sec-5c8f" style="margin-top: 50px">
    <div class="u-clearfix u-sheet u-valign-top-lg u-valign-top-md u-valign-top-xl u-sheet-1">
      <h1 class="u-text u-text-custom-color-2 u-text-1">INSPIRE AND EMPOWER EVERY<br>INDIVIDUAL TO ACHIEVE
        THEIR<br>CAREER &amp; LIFE GOALS<br>
      </h1>
      <h2 class="u-text u-text-custom-color-2 u-text-default u-text-2">About Career4U </h2>
      <div class="fr-view u-clearfix u-rich-text u-text u-text-3">
        <p style="text-align: justify;">
          <span style="font-weight: 500;">We are driven by our mission to help individuals discover a greater clarity of
            purpose and a flourishing drive of passion on whatever they go on to do with their lives. From increasing
            access to effective career development solutions for those who don’t have it, to guiding and developing
            those who do, we inspire the future workforce. Through the products, services and insights we deliver as an
            organization, we are helping individuals to become the best version of themselves.</span>
        </p>
      </div>
    </div>
  </section>
  <section class="u-clearfix u-section-2" id="sec-3d14">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h2 class="u-text u-text-custom-color-2 u-text-default u-text-1">Our Approach to Career Development </h2>
      <div class="fr-view u-clearfix u-rich-text u-text u-text-2">
        <p>&nbsp; <span style="font-weight: 500;">Career decisions should be based on scientific assessments and an
            equally structured and scientifically curated post-assessment counselling mechanism.<br
              style="margin: 0px; padding: 0px; color: rgb(48, 48, 49); font-family: Helvetica-Light, sans-serif; font-size: 17px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
            <br
              style="margin: 0px; padding: 0px; color: rgb(48, 48, 49); font-family: Helvetica-Light, sans-serif; font-size: 17px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">&nbsp;Suitability
            of a particular career might also depend on aspects like socio-economic scenario, cultural and faith related
            factors, inherent talents etc., rather than just a person’s psychometric make-up.<br
              style="margin: 0px; padding: 0px; color: rgb(48, 48, 49); font-family: Helvetica-Light, sans-serif; font-size: 17px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
            <br
              style="margin: 0px; padding: 0px; color: rgb(48, 48, 49); font-family: Helvetica-Light, sans-serif; font-size: 17px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">&nbsp;In
            career assessment and planning process, a blend of both quantitative and qualitative methods should be
            used.<br
              style="margin: 0px; padding: 0px; color: rgb(48, 48, 49); font-family: Helvetica-Light, sans-serif; font-size: 17px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
            <br
              style="margin: 0px; padding: 0px; color: rgb(48, 48, 49); font-family: Helvetica-Light, sans-serif; font-size: 17px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">&nbsp;Participant-driven
            learning and decision making: Importance is given to strengthening the career selector’s abilities and
            skills to take responsibility for career development.<br
              style="margin: 0px; padding: 0px; color: rgb(48, 48, 49); font-family: Helvetica-Light, sans-serif; font-size: 17px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
            <br
              style="margin: 0px; padding: 0px; color: rgb(48, 48, 49); font-family: Helvetica-Light, sans-serif; font-size: 17px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">&nbsp;The
            role of the career guidance practitioner is to guide and create an environment for career discovery.<br
              style="margin: 0px; padding: 0px; color: rgb(48, 48, 49); font-family: Helvetica-Light, sans-serif; font-size: 17px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
            <br
              style="margin: 0px; padding: 0px; color: rgb(48, 48, 49); font-family: Helvetica-Light, sans-serif; font-size: 17px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">&nbsp;Comprehensive
            resources and advanced tools for career planning and development: An exhaustive career library framework and
            various other tools that make the process easier, effortless and also accessible to larger sections of
            society.
          </span>
        </p>
      </div>
    </div>
  </section>
  <section class="u-align-left u-clearfix u-section-3" id="sec-886c">
    <div class="u-clearfix u-sheet u-sheet-1">
      <img class="u-image u-image-default u-image-1"
        src="{% static '/images/Images/About/undraw_Learning_re_32qv.png' %}" alt="" data-image-width="893"
        data-image-height="546">
      <div class="fr-view u-clearfix u-rich-text u-text u-text-1">
        <h2>
          <span style="font-weight: 700; font-size: 2.25rem;">
            <span class="u-text-custom-color-2">Personalized and holistic career guidance</span>
          </span>
        </h2>
        <p style="text-align: left;">
          <span style="font-size: 1.125rem;">
            <span style="font-weight: 500;">Every individual is unique and hence they should be handled&nbsp;</span>
          </span>
          <span style="font-size: 1.125rem;">
            <span style="font-weight: 500;">differently. Learn why Career4U’s personalized and</span>
          </span>
          <span style="font-size: 1.125rem;">
            <span style="font-weight: 500;">&nbsp;holistic career guidance approach is path breaking in this
              field.</span>
          </span>
        </p>
        <p style="text-align: left;">&nbsp;<span style="font-size: 1.125rem;">
            <br
              style="margin: 0px; padding: 0px; font-family: Helveica-Light, sans-serif; font-size: 17px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: 1px; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
          </span>
          <br>
        </p>
      </div>
      <a href=""
        class="primaryButton u-border-none u-btn u-btn-round u-button-style u-custom-color-2 u-radius-2 u-text-body-color u-btn-1">
        <span style="font-weight: 700;">Get Started&nbsp;</span><span class="u-icon u-text-black"><svg
            class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" style="width: 1em; height: 1em;">
            <path
              d="M506.134,241.843c-0.006-0.006-0.011-0.013-0.018-0.019l-104.504-104c-7.829-7.791-20.492-7.762-28.285,0.068 c-7.792,7.829-7.762,20.492,0.067,28.284L443.558,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h423.557 l-70.162,69.824c-7.829,7.792-7.859,20.455-0.067,28.284c7.793,7.831,20.457,7.858,28.285,0.068l104.504-104 c0.006-.006,0.011-.013,0.018-.019C513.968,262.339,513.943,249.635,506.134,241.843z">
            </path>
          </svg><img></span>
      </a>
      <img class="u-expanded-width-xs u-image u-image-default u-image-2"
        src="{% static '/images/Images/About/undraw_robotics_kep0.png' %}" alt="" data-image-width="1316"
        data-image-height="893">
      <div class="fr-view u-clearfix u-rich-text u-text u-text-2">
        <h2 id="isPasted">
          <span style="font-size: 2.25rem; font-weight: 700;">
            <span class="u-text-custom-color-2">Perfect combination of technology and human intelligence</span>
          </span>
          <span class="u-text-custom-color-2">
            <br
              style="margin: 0px; padding: 0px; color: rgb(0, 0, 0); font-family: Helveica-Light, sans-serif; font-size: 17px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: 1px; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;"
              id="isPasted">
          </span>
          <span style="font-size: 1.125rem; font-weight: 500;">Learn more about how Career4U eliminates the influence of
            human biases in the career development process by combining the power of machine learning and AI with the
            competence of highly skilled and well trained individuals.</span>
        </h2>
      </div>
      <a href=""
        class="u-border-none u-btn u-btn-round u-button-style u-custom-color-2 u-radius-2 u-text-body-color u-btn-2">
        <span style="font-weight: 700; font-size: 1.125rem;">Get Started&nbsp;</span>
        <span style="font-size: 1.125rem;"></span><span class="u-icon u-text-black"><svg class="u-svg-content"
            viewBox="0 0 512 512" x="0px" y="0px" style="width: 1em; height: 1em;">
            <path
              d="M506.134,241.843c-0.006-0.006-0.011-0.013-0.018-0.019l-104.504-104c-7.829-7.791-20.492-7.762-28.285,0.068 c-7.792,7.829-7.762,20.492,0.067,28.284L443.558,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h423.557 l-70.162,69.824c-7.829,7.792-7.859,20.455-0.067,28.284c7.793,7.831,20.457,7.858,28.285,0.068l104.504-104 c0.006-.006,0.011-.013,0.018-.019C513.968,262.339,513.943,249.635,506.134,241.843z">
            </path>
          </svg><img></span>
      </a>
      <div class="fr-view u-clearfix u-rich-text u-text u-text-3">
        <h2 id="isPasted">
          <span class="u-text-custom-color-2" style="font-weight: 700;">Resources</span>
        </h2>
        <p style="text-align: left;">
          <span style="font-size: 1.125rem; font-weight: 500;">In the sea of content that the internet represents,
            people find&nbsp;it very&nbsp;challenging to obtain quality information about something&nbsp;as dynamicas
            career fields. Lean how Career4U decodes this challenge.&nbsp;</span>
        </p>
      </div>
      <img class="u-expanded-width-xs u-image u-image-default u-image-3"
        src="{% static '/images/Images/About/study1.jpg' %}" alt="" data-image-width="626" data-image-height="485">
      <a href=""
        class="u-border-none u-btn u-btn-round u-button-style u-custom-color-2 u-radius-2 u-text-body-color u-btn-3">
        <span style="font-weight: 700;">Get Started</span><span class="u-icon u-text-black"><svg class="u-svg-content"
            viewBox="0 0 512 512" x="0px" y="0px" style="width: 1em; height: 1em;">
            <path
              d="M506.134,241.843c-0.006-0.006-0.011-0.013-0.018-0.019l-104.504-104c-7.829-7.791-20.492-7.762-28.285,0.068 c-7.792,7.829-7.762,20.492,0.067,28.284L443.558,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h423.557 l-70.162,69.824c-7.829,7.792-7.859,20.455-0.067,28.284c7.793,7.831,20.457,7.858,28.285,0.068l104.504-104 c0.006-.006,0.011-.013,0.018-.019C513.968,262.339,513.943,249.635,506.134,241.843z">
            </path>
          </svg><img></span>
        <span style="font-weight: 700;"></span>
      </a>
    </div>
  </section>
  <section class="u-align-left u-clearfix u-section-4" id="sec-cee5">
    <div class="u-clearfix u-sheet u-sheet-1">
      <img class="u-image u-image-default u-preserve-proportions u-image-1"
        src="{% static '/images/Images/About/university.jpg' %}" alt="" data-image-width="416" data-image-height="416">
      <div class="fr-view u-clearfix u-rich-text u-text u-text-1">
        <h2>
          <span style="font-size: 2.25rem; font-weight: 700;">
            <span class="u-text-custom-color-2">Institutional level career guidance</span>
          </span>
          <span class="u-text-custom-color-2"></span>
          <span style="font-weight: 700;">
            <span class="u-text-custom-color-2">
              <br>
            </span>
          </span>
        </h2>
        <p style="text-align: justify;">
          <span style="font-size: 1.125rem;">
            <span style="font-weight: 500;">L</span>
            <span style="font-weight: 500;">earn more about how Career4U is planning to create a long lasting change
              through intelligent associations with other stakeholders in the domain.&nbsp;</span>
          </span>
        </p>
      </div>
      <a href=""
        class="u-border-none u-btn u-btn-round u-button-style u-custom-color-2 u-radius-2 u-text-body-color u-btn-1">
        <span style="font-weight: 700; font-size: 1.125rem;">Get Started&nbsp;</span>
        <span style="font-size: 1.125rem;"></span><span class="u-icon u-text-black"><svg class="u-svg-content"
            viewBox="0 0 512 512" x="0px" y="0px" style="width: 1em; height: 1em;">
            <path
              d="M506.134,241.843c-0.006-0.006-0.011-0.013-0.018-0.019l-104.504-104c-7.829-7.791-20.492-7.762-28.285,0.068 c-7.792,7.829-7.762,20.492,0.067,28.284L443.558,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h423.557 l-70.162,69.824c-7.829,7.792-7.859,20.455-0.067,28.284c7.793,7.831,20.457,7.858,28.285,0.068l104.504-104 c0.006-.006,0.011-.013,0.018-.019C513.968,262.339,513.943,249.635,506.134,241.843z">
            </path>
          </svg><img></span>
        <span style="font-weight: 700;"></span>
      </a>
      <div class="fr-view u-clearfix u-rich-text u-text u-text-2">
        <h2 id="isPasted">
          <span style="font-weight: 700; font-size: 2.25rem;">
            <span class="u-text-custom-color-2">A team that is defined by&nbsp;</span>
          </span>
          <span class="u-text-custom-color-2"></span>
          <span style="font-weight: 700; font-size: 2.25rem;">
            <span class="u-text-custom-color-2">innovation and passion</span>
          </span>
        </h2>
        <p style="text-align: left;">
          <span style="line-height: 2.0;">
            <span style="font-size: 1.125rem; font-weight: 500;">A dream of a bright future where everyone
              is&nbsp;</span>
          </span>
          <span style="line-height: 2.0;">
            <span style="font-size: 1.125rem; font-weight: 500;">able to&nbsp;</span>
          </span>
          <span style="line-height: 2.0;">
            <span style="font-size: 1.125rem; font-weight: 500;">achieve&nbsp;</span>
          </span>
          <span style="line-height: 2.0;">
            <span style="font-size: 1.125rem; font-weight: 500;">their full potential breaking through all societal
              barriers is&nbsp;</span>
          </span>
          <span style="line-height: 2.0;">
            <span style="font-size: 1.125rem; font-weight: 500;">what&nbsp;</span>
          </span>
          <span style="line-height: 2.0;">
            <span style="font-size: 1.125rem; font-weight: 500;">unites us. Learn more about the Career4U
              team.&nbsp;</span>
          </span>
        </p>
      </div>
      <img class="u-expanded-width-xs u-image u-image-default u-image-2"
        src="{% static '/images/Images/About/team1.jpg' %}" alt="" data-image-width="626" data-image-height="417">
      <a href=""
        class="u-border-none u-btn u-btn-round u-button-style u-custom-color-2 u-radius-2 u-text-body-color u-btn-2">
        <span style="font-size: 1.125rem;">Get Started&nbsp;</span>
        <span style="font-weight: 700;"></span><span class="u-icon u-text-black"><svg class="u-svg-content"
            viewBox="0 0 512 512" x="0px" y="0px" style="width: 1em; height: 1em;">
            <path
              d="M506.134,241.843c-0.006-0.006-0.011-0.013-0.018-0.019l-104.504-104c-7.829-7.791-20.492-7.762-28.285,0.068 c-7.792,7.829-7.762,20.492,0.067,28.284L443.558,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h423.557 l-70.162,69.824c-7.829,7.792-7.859,20.455-0.067,28.284c7.793,7.831,20.457,7.858,28.285,0.068l104.504-104 c0.006-.006,0.011-.013,0.018-.019C513.968,262.339,513.943,249.635,506.134,241.843z">
            </path>
          </svg><img></span>
      </a>
      <div class="fr-view u-clearfix u-rich-text u-text u-text-3">
        <p>
          <br id="isPasted">
        </p>
        <p>
          <br>
        </p>
        <h3>
          <span style="font-size: 2.25rem; font-weight: 700;">
            <span class="u-text-custom-color-2">A reinvented education</span>
          </span>
          <span class="u-text-custom-color-2"></span>
          <span style="font-size: 2.25rem; font-weight: 700;">
            <span class="u-text-custom-color-2">&nbsp;where&nbsp;</span>
          </span>
          <span class="u-text-custom-color-2"></span>
          <span style="font-size: 2.25rem; font-weight: 700;">
            <span class="u-text-custom-color-2">access to&nbsp;</span>
          </span>
          <span class="u-text-custom-color-2"></span>
          <span style="font-size: 2.25rem; font-weight: 700;">
            <span class="u-text-custom-color-2">education&nbsp;</span>
          </span>
          <span class="u-text-custom-color-2"></span>
          <span style="font-size: 2.25rem; font-weight: 700;">
            <span class="u-text-custom-color-2">is unhindered</span>
          </span>
        </h3>
        <p style="text-align: left;">
          <span style="font-size: 1.125rem; font-weight: 500;">We believe that every individual independent of their
            financial or social condition should have access to education of the highest quality. Learn more about
            Career4U’s initiatives.&nbsp;</span>
        </p>
      </div>
      <img class="u-image u-image-default u-preserve-proportions u-image-3"
        src="{% static '/images/Images/About/books1.jpg' %}" alt="" data-image-width="1080" data-image-height="1080">
      <a href=""
        class="u-border-none u-btn u-btn-round u-button-style u-custom-color-2 u-radius-2 u-text-body-color u-btn-3">
        <span style="font-weight: 700; font-size: 1.125rem;">Get Started&nbsp;</span>
        <span style="font-size: 1.125rem;"></span><span class="u-icon u-text-black"><svg class="u-svg-content"
            viewBox="0 0 512 512" x="0px" y="0px" style="width: 1em; height: 1em;">
            <path
              d="M506.134,241.843c-0.006-0.006-0.011-0.013-0.018-0.019l-104.504-104c-7.829-7.791-20.492-7.762-28.285,0.068 c-7.792,7.829-7.762,20.492,0.067,28.284L443.558,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h423.557 l-70.162,69.824c-7.829,7.792-7.859,20.455-0.067,28.284c7.793,7.831,20.457,7.858,28.285,0.068l104.504-104 c0.006-.006,0.011-.013,0.018-.019C513.968,262.339,513.943,249.635,506.134,241.843z">
            </path>
          </svg><img></span>
      </a>
    </div>
  </section>
</body>

<script>
  let hamburgerNavbar = document.querySelector(".hamburgerNavbar");
  function toggleNav() {
    if (
      hamburgerNavbar.style.height == 0 + "px" ||
      hamburgerNavbar.style.height == 0 + "%" ||
      hamburgerNavbar.style.height == 0
    )
      hamburgerNavbar.style.height = 400 + "px";
    else if (
      hamburgerNavbar.style.height == 400 + "px" ||
      hamburgerNavbar.style.height == 400 + "%" ||
      hamburgerNavbar.style.height == 400
    )
      hamburgerNavbar.style.height = 0 + "px";
  }
</script>

</html>